<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://unpkg.com/lenis@1.3.11/dist/lenis.css">
   <script src="https://unpkg.com/lenis@1.3.11/dist/lenis.min.js"></script> 
  <title>UPN Cristian</title>
</head>
<body>
    <header>
    <div class="logo"><img src="/images/logoUniversidad.png" alt=""></div>
    <b ></b>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="/login" class="login-btn">Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- ====== Hero Section ====== -->
  <section class="hero" id="inicio">
    <h1>Bienvenido al repositorio de la Licenciatura de Diseño Tecnológico</h1>
    <p>Formando líderes del futuro con valores, conocimiento y compromiso.</p>
  </section>

  <!-- ====== Sección "Nosotros" ====== -->
  <section id="nosotros">
    <h2>Sobre Nosotros</h2>
    <p>UPN Kids English es una herramienta diseñada por la Universidad Pedagógica Nacional de Colombia para ayudar a los estudiantes de los ciclos 1 y 2 en Colombia a mejorar sus habilidades en el idioma inglés de manera interactiva y divertida. ¡Comienza tu viaje de aprendizaje hoy!</p>
  </section>

  <!-- ====== Sección "Programas" ======
  <section id="programas">
    <h2>Programas Académicos</h2>
    <div class="features">
      <div class="feature">
        <h3>Prueba Nivelatoria</h3>
        <p>Prueba para determinar el nivel del estudiante</p>
      </div>
      <div class="feature">
        <h3>Ingles Basico</h3>
        <p>Lo basico del ingles para niños de primaria</p>
      </div>
      <div class="feature">
        <h3>Ingles Medio</h3>
        <p>Ingles para niños de secundaria</p>
      </div>
    </div>
  </section> -->

  <!-- ====== Sección "Contacto" ====== -->
  <section id="contacto">
    <h2>Contáctanos</h2>
    <p>Direccion:  Calle 72 No. 11-86, Bogotá, Colombia.</p>
     <p>Horario: Lunes a Viernes, 8:00 AM - 4:00 PM</p>
  </section>

  <!-- ====== Footer ====== -->
  <footer>
    <p>&copy; 2026 Universidad Pedagógica Nacional. Todos los derechos reservados.</p>
    <p>Desarrollado por Cristian Zamora</p>
  </footer>

  <!-- Script para el efecto de scroll del navbar -->
  <script src="/javascripts/main.js"></script>
 
</body>
</html>